# --- Các file screenshot ---
*.png
**/screenshot/

# --- Các file log, cache ---
*.log
*.pyc
*.lnk
*.zip
**/*cache*/

# --- Các file login ---
**/.auth/

# --- Các file environment ---
**/.venv/

# --- Cấu hình riêng từng máy (Docker) + dữ liệu mặc định ---
.env
/data/

# --- Các file nén code cũ
*.tar.gz
code_zip/

# --- VSCode ---
.vscode/*.log

# --- Hệ điều hành ---
Thumbs.db
.DS_Store
