```gitignore

# --- Các file screenshot ---
*.png
**/screenshot/

# --- Các file log, cache ---
*.log
*.pyc
*.lnk
*.zip
**/*cache*/

# --- Các file login ---
**/.auth/

# --- Các file environment ---
**/.venv/

# --- VSCode ---
.vscode/*.log

# --- Hệ điều hành ---
Thumbs.db
.DS_Store
```